@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, rgba(24, 8, 255, 0.685), #632d88, rgba(255, 0, 85, 0.541));
        transition: 0.1s;
    }
    section#login{
        width: 90vw;
    }
    section#login > div#images{
        float: left;
        width: 30%;
        height: 100%;
        background-position-x: center;
    }
    section#login > div#formulary{
      float: right;  
      width: 70%;
    }
    div#formulary > p{
    font-size: 1.2em;
}
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #632d88, rgba(172, 40, 128, 0.966), rgba(55, 163, 206, 0.555));
    }
    section#login{
        width: 990px;
    }
    section#login > div#images{
        float: right;
        width: 30%;
        height: 100%;
        background-position-x: center;
    }
    section#login > div#formulary{
        float: left;
        width: 70%;
    }
    div#formulary > p{
    font-size: 1.3em;
}
}
